
#myBody {
    
    background-color:  #0a192f;;
    font: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    
}

#project-title {
    font-size: 10px;
    font: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

#project-list {
    font-size: 10px;
    font: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
